* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

body {
  background-color: #121417;
  color: white;
  font-family: "Overpass", sans-serif;
  overflow: hidden;
}

.ratingCard {
  position: relative;
  top: 95px;
  left: 34%;
}

@media (max-width: 540px) {
  .ratingCard {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    left: .2em;
  }
  .ratingCard .desc {
    width: 85%;
  }
}

.ratingCard .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 105px 25px 25px 25px;
  height: 350px;
}

.ratingCard .card-wrapper img {
  width: 38px;
  background-color: rgba(124, 135, 152, 0.2);
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.ratingCard .card-wrapper h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.ratingCard .card-wrapper .desc {
  color: #7c8798;
  font-weight: 400;
  line-height: 1.5em;
}

.ratingCard .card-wrapper .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}

.ratingCard .card-wrapper .rating #ratingForm input[type="radio"] {
  margin: 0 5px;
  width: 4rem;
  height: 4rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(124, 135, 152, 0.2);
  color: white;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.ratingCard .card-wrapper .rating #ratingForm input[type="radio"]:hover {
  background-color: #fb7413;
}

.ratingCard .card-wrapper .rating #ratingForm input[type="radio"]:checked {
  background-color: #959eac;
}

.ratingCard .card-wrapper .rating #ratingForm label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  top: -45px;
  left: 30px;
}

.ratingCard .card-wrapper .submit {
  background-color: #fb7413;
  border: 0;
  border-radius: 24px;
  padding: 12px 0;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  margin: 0 0 15px 0;
  color: white;
  letter-spacing: .2rem;
  font-weight: 700;
  width: 100%;
}

.ratingCard .card-wrapper .submit:hover {
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  background-color: white;
  color: #fb7413;
}

.card {
  width: 400px;
  height: 405px;
  background-color: #252d37;
  border-radius: 24px;
}

.resultCard {
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */